.click-clack {
  text-align: center;
}

.pretty-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  line-height: 65px;
  text-decoration: none;
  color: initial;
}




.article-text {
  text-indent: 5em;
  font-size: 16px;
}

.footer {
  align-self: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color:
